---
layout: default
---

<div class="post">
  <header class="post-header">
    <h1 class="title_first_page">
      {% if site.title == 'blank' %}
        <span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }}
        {{ site.last_name }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </h1>
    <p class="subtitle">{{ page.subtitle }}</p>
    </header>

    <div class="clearfix">{{ content }}</div>
    <div style="margin-bottom: 10rem;"></div>

    <!-- Banner -->

    <div class="hero-strip">
    <img src="/assets/img/banner.jpg" alt="Banner" class="hero-image">
      <div class="hero-content">
        <a href="http://127.0.0.1:4000/projects/1_project/" class="hero-link" target="_self">
          <img src="/assets/img/pietro_san.png" alt="Project 1">
        </a>
        <a href="http://127.0.0.1:4000/projects/2_project/" class="hero-link" target="_self">
          <img src="/assets/img/giovanni_kun.png" alt="Project 2">
        </a>
      </div>
      <p class="hero-caption">
      drones in our fleet
      </p>
    </div>

    <!-- News -->
    {% if page.announcements and page.announcements.enabled %}
      <h2 style="color: inherit; margin-top: 3rem;">news</h2>
      {% include news.liquid limit=true %}
    {% endif %}

    <!-- Latest posts -->
    {% if page.latest_posts and page.latest_posts.enabled %}
      <h2>
        <a href="{{ '/blog/' | relative_url }}" style="color: inherit">latest posts</a>
      </h2>
      {% include latest_posts.liquid %}
    {% endif %}


    <!-- Social -->
    {% if page.social %}
      <div class="social">
        <div class="contact-icons">{% include social.liquid %}</div>

        <div class="contact-note">{{ site.contact_note }}</div>
      </div>
    {% endif %}

    {% if site.newsletter and site.newsletter.enabled and site.footer_fixed %}
      {% include newsletter.liquid center=true %}
    {% endif %}
  </article>
</div>
